// Color Variables
$primary-color: #456BFF;
$secondary-color: #9AC4F8;
$text-color: #444;
$text-color-dark: #222222;
$body-color: #fff;
$border-color: #ACB9C4;
$black: #000;
$white: #fff;
$light: #F8F8F8;

// Font Variables
$icon-font: 'themify';

$title-font: 'Playfair Display', serif;
$text-font: 'Noto Sans JP', sans-serif;
