{{ define "main" }}

<!-- banner -->
<section class="banner bg-cover">
  <div class="container">
    <div class="row d-flex align-items-center">
      
      <div class="col-lg-7 mb-5 mb-lg-0">
        <h1>{{ .Site.Params.banner.title | markdownify }}</h1>
      </div>
      <div class="col-lg-5">
        <img src="{{ .Site.Params.banner.image | relURL }}" class="img-fluid portfolio-image" alt="">
      </div>
    </div>
  </div>
</section>
<!-- /banner -->

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto px-0">
        <div class="bg-white shadow block">
          <h2 class="h5 mb-4 border-bottom pb-2">Latest Posts</h2>
          {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
          <div class="row">
            {{ range $paginator.Pages }}
              <div class="col-md-6">
                {{ .Render "article" }}
              </div>
            {{ end }}
          </div>
          <!-- pagination -->
         {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->

<!-- cta -->
{{ if .Site.Params.cta.enable }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="shadow bg-white p-5">
          <h2 class="h5">Lets Have A Chat</h2>
          <form method="POST" action="{{ .Site.Params.contact_form_action | safeURL}}" class="row mt-3">
          <div class="col-md-6">
            <input type="text" class="form-control mb-4" placeholder="Name" name="name" id="name">
          </div>
          <div class="col-md-6">
            <input type="email" class="form-control mb-4" placeholder="Email" name="email" id="email">
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-4" placeholder="Subject" name="subject" id="subject">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control mb-4" placeholder="Type You Message Here"
              rows="5"></textarea>
          </div>
          <div class="col-12">
            <button class="btn btn-primary btn-block" type="submit">Send</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /cta -->

{{ end }}